### Homework 1 - Intro

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.3.2'

In [32]:
# Read the data
df = pd.read_csv('.\\data\\car_fuel_efficiency.csv')

In [ ]:
# Q2 Get record count
print(f"Record counts: { df.shape[0]}")

Record counts: 9704

In [33]:
# Q3 Get Fuel types

# get column names
df.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [29]:
# fuel types
fuel_types = df["fuel_type"].unique()
print(f"Fuel types count: {len(fuel_types)}")

Fuel types count: 2

In [25]:
# Q4 Missing Values
# How many columns in the dataset have missing values?
missing_values = df.isnull()
missing_counts = missing_values.sum()
print(f"Number of columns that have missing values: {
    len(missing_counts[missing_counts > 0].index.tolist()) }")

Number of columns that have missing values: 4

In [ ]:
# Q5 Max fuel efficiency of cars from Asia
df_asia = df[df["origin"] == "Asia"]
print(f"Max fuel efficience of Asia origin cars: {df_asia["fuel_efficiency_mpg"].max()}")

Max fuel efficience of Asia origin cars: 23.759122836520497

In [49]:
#6 Median valus of horsepower
# - Find the median of horsepower column
horsepower_column = df["horsepower"]
horsepower_median = horsepower_column.median()
print(f"median horsepower: {horsepower_median}")

# - calculate the most frequent value on horsepower column
print(f"mode value of horsepower: {horsepower_column.mode()}")

# - use fillna method to fill missing values in horsepower with the most frequent value from previous step
horsepower_column_filled = horsepower_column.fillna(horsepower_column.mode())

# - then calculate the median value of horsepower again
new_horsepower_median = horsepower_column_filled.median()
print(f"new median value after filling missing rows: {new_horsepower_median}")

print(f"is horsepower_median and new_horsepower_median the same: {horsepower_median == new_horsepower_median}")

median horsepower: 149.0
mode value of horsepower: 0    152.0
Name: horsepower, dtype: float64
new median value after filling missing rows: 149.0
is horsepower_median and new_horsepower_median the same: True

In [ ]:
# Q7 Sum of weights

# - select all cars from Asia
df_asia_new = df[df["origin"] == "Asia"]

# - select only columns vehicle_weight and model_year
df_asia_weight_year = df_asia[["vehicle_weight","model_year"]]

# - select the first 7 values
df_asia_weight_year.head(7)

# - Get the underlying Numpy array, and call it X
X = df_asia[["vehicle_weight","model_year"]]

# - Compute matrix-martix multiplication between transpose of X and X. To get transpose, use X.T, cal the result XTX
X_transposed = X.T


# - Invert XTX
# - Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200]
# - multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# - What's the sum of all the elements of the result

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019